@charset "UTF-8";


.list{
    display: block;
    padding: 1rem;
}

.list li{
    list-style: none;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
}

a .read-more{
    color:#bc3f3f;
}

.read-more::after{
    content: '→';

}

@media (min-width:767px){
    .list{
        display: block;
        padding: 1rem;
    }

    .list img{
        max-width: 100%;
        vertical-align: bottom;
    }
    
    .list li{
        list-style: none;
    }
    
    .list li{
        margin-bottom: 60px;
    }
    
    .list li img{
        width: 60%;
    }
    
    /* 奇数のliタグは左寄せ */
    .list li:nth-child(odd){
        text-align: left;
    }
    
    /* 偶数のliタグは右寄せ */
    .list li:nth-child(even){
        text-align: right;
    }
    
    .list p{
        font-size: 0.8rem;
    }
    
}