@charset "utf-8";

body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic'
}

.imaz {
    width: 100%;
    margin: 0 auto;
    /* height: 700px; */
}

.slider img {
    min-width: 100%;
    display: block;
    height: 35vw;
    object-fit: cover;
    z-index: 1;
}



.slider {
    /* height: 30vw; */
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.bx-wrapper {
    border: none;
}

.slider img,
.slider {
    height: 35vw;
}

dl {
    padding-left: 5%;
    background-image: url(images/wt.jpeg);

}

dt {
    float: left;
    margin-right: 1rem;
    width: 7em;
}

dd {
    margin-left: 80px;
}

.gif {
    display: flex;
    padding: 3%;
}

.sinzyou {
    display: flex;
}



@media screen and (max-width:769px) {
    .gif {
        padding: 0;
    }

    .gif img {
        max-width: 25%;
    }

    .sinzyou {
        max-width: 20%;

    }
}