@charset "utf-8";
h3{
    text-align: center;
    margin-bottom: 1.5em;
    font-family: serif;
    font-size: 1.5em;
    opacity:0;
    animation-name: anime01; 
    animation-duration: 7s; 
    animation-fill-mode: forwards; 
}

  @keyframes anime01 {
  0% {
    opacity: 0.1;
    color: rgb(255, 230, 0);
}
30%{
    color:rgb(0, 217, 255);
    opacity: 0.3;
}
  60% {
   opacity: 0.6;
   color: purple;
}
100% {
       color:rgb(163, 39, 39);
    opacity: 1;
  } 
  }

.text{
    text-indent: 1em;
}

.border{
    font-family: serif;
    font-size: 1.5em;
    padding-left: 2em;
    color:rgb(12, 107, 184);
    display: block;
    line-height: 1;
    position: relative;
    margin: 0;
}
  .border:before{
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0;
    transform: translateX(100%);
    border-bottom: solid 2px rgb(12, 107, 184);
    animation: border_anim 8s linear forwards;
    animation-iteration-count:2;
  }
  
  @keyframes border_anim {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
  

.contents{
    margin: 4rem 0;
}
dl{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    margin: 2em 0;
}
.reverse{
    flex-direction: row-reverse;
}

dt{
    max-width: 350px;
    overflow: hidden;
    position: relative;
}

dt:before {
  animation: img-wrap 3s cubic-bezier(.4, 0, .2, 1) forwards;
  background:#efebdc;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  animation-delay:1.5s; /*1.5秒後にアニメーション開始*/
}

.dt2:before {
  animation-delay:3s; /*3秒後にアニメーション開始*/

}


@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}

dd{
    margin: 0;
    padding: 0 1em;
    max-width: 650px;
    
}
address a:hover {
    border-bottom: 1px solid #bc3f3f;
    background :inherit;
    color:  #bc3f3f;
}
address{
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
}
address a{
    text-decoration: none;
    color: black;
}

/*  スマホ用  */

@media screen and (max-width:769px) {
    h3{
        font-size: 1.4em;
    }
    dl{
        display: flex;
        flex-wrap: wrap;
    }
    .border{
        font-size: 1.4em;
        padding-left: 1em;
      }
    
}

/* パンくずリスト */

.breadcrumb li::after{
  content: '>';
  display: inline-block;
  padding: 0 10px;
}

.breadcrumb li:last-child::after{
  display: none;
}
.breadcrumb ol{
  display: flex;
  margin-left: 1em;
}
.breadcrumb li{
  list-style: none;
  font-size: 0.9em;
  color: dimgray;
}
.breadcrumb a{
  color: dimgray;
}
.breadcrumb a:hover{
  color: #bc3f3f;
}